<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto FinTecch</title>
    <link rel="stylesheet" href="tracker.css">
</head>
<body>
    <div class="form">
        <div class="title">Salesperson Tracking</div>
        <div class="subtitle">Enter Sales Field Employee Details Bellow To Track</div>
        <div class="input-container ic1">
          <form method="POST" action="/getdetails">
            <input id="mail" class="input" type="email" name="salesmail" placeholder="Enter Sales Agent Mail ID" />
            <div class="cut"></div>
            <label for="mail" class="placeholder"></label>
          </div>
          <button type="submit" class="submit">Track The User</button>
          </form>
      </div>
</body>
</html>